
{% extends 'base.html' %}
{% load static %}
{% block title %}
      My Profile
{% endblock title %}

{% block content %}
   <!-- Main section -->
   <body class="">
    <div class="wrapper ">
      <div class="sidebar" data-color="white" data-active-color="danger">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
        <div class="logo">
          <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
              <img src="../static/img/logo-small.png">
            </div>
          </a>
          <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Creative Tim
            <!-- <div class="logo-image-big">
              <img src="../static/img/logo-big.png">
            </div> -->
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li>
              <a href="./dashboard1.html">
                <i class="nc-icon nc-bank"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li>
              <a href="./map1.html">
                <i class="nc-icon nc-pin-3"></i>
                <p>Maps</p>
              </a>
            </li>
            <li class="active ">
              <a href="./user1.html">
                <i class="nc-icon nc-single-02"></i>
                <p>User Profile</p>
              </a>
            </li>
            <li>
              <a href="./tables1.html">
                <i class="nc-icon nc-tile-56"></i>
                <p>Table List</p>
              </a>
            </li>
            <li>
              <a href="./icons.html">
                <i class="nc-icon nc-spaceship"></i>
                <p>icons</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="#pablo">Zodeo Cars</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <form>
                <div class="input-group no-border">
                  <input type="text" value="" class="form-control" placeholder="Search...">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="nc-icon nc-zoom-split"></i>
                    </div>
                  </div>
                </div>
              </form>
     
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-sm">
  
  
  </div> -->
        <div class="content">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-user">
                <div class="image">
                  <img src="../static/img/damir-bosnjak.jpg" alt="...">
                </div>
                <div class="card-body">
                  <div class="author">
                    <a href="#">
                      <img class="avatar border-gray" src="{% if passenger.image %}
                      {{ passenger.image.url }}
                      {% else %}
                      {% static './img/mike.jpg' %}
                      {% endif %}
                      ">
                      <a href="">{{ passenger.name}}</a>
                      <!-- <h5 class="title">{{ passenger.name}}</h5> -->
                    </a>
                  </div>
                  <p class="description text-center">
                    "I like the way you work it"
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Travelling Group</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled team-members">
                    <li>
                      <div class="row">
                        <div class="col-md-2 col-2">
                          <div class="avatar">
                            <img src="../static/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                          </div>
                        </div>
                        <div class="col-md-7 col-7">
                          DJ Khaled
                          <br />
                          <span class="text-muted">
                            <small>Offline</small>
                          </span>
                        </div>
                        <div class="col-md-3 col-3 text-right">
                          <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-md-2 col-2">
                          <div class="avatar">
                            <img src="../static/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                          </div>
                        </div>
                        <div class="col-md-7 col-7">
                          Creative Tim
                          <br />
                          <span class="text-success">
                            <small>Available</small>
                          </span>
                        </div>
                        <div class="col-md-3 col-3 text-right">
                          <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-md-2 col-2">
                          <div class="avatar">
                            <img src="../static/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                          </div>
                        </div>
                        <div class="col-ms-7 col-7">
                          Flume
                          <br />
                          <span class="text-danger">
                            <small>Busy</small>
                          </span>
                        </div>
                        <div class="col-md-3 col-3 text-right">
                          <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card card-user">
                <div class="card-header">
                  <h5 class="card-title">Edit Profile</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-6 px-1">
                        <div class="form-group">
                          <label>Username</label>
                          <input type="text" class="form-control" placeholder="Username" value="michael23">
                        </div>
                      </div>
                      <div class="col-md-6 pl-1">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pr-1">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" class="form-control" placeholder="Company" value="Chet">
                        </div>
                      </div>
                      <div class="col-md-6 pl-1">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" class="form-control" placeholder="Last Name" value="Faker">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Address</label>
                          <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-black  footer-white ">
          <div class="container-fluid">
            <div class="row">
              <div class="credits ml-auto">
                <span class="copyright">
                  ©
                  <script>
                    document.write(new Date().getFullYear())
                  </script>, made with <i class="fa fa-heart heart"></i> by Kevo
                </span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
<!-- Main Section ends -->
      
{% endblock content %}










